/* //@import './base.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('../../public/fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('../../public/fonts/GeneralSans-Regular.woff') format('woff'),
       url('../../public/fonts/GeneralSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('../../public/fonts/GeneralSans-Semibold.woff2') format('woff2'),
       url('../../public/fonts/GeneralSans-Semibold.woff') format('woff'),
       url('../../public/fonts/GeneralSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('../../public/fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('../../public/fonts/GeneralSans-Bold.woff') format('woff'),
       url('../../public/fonts/GeneralSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: 'GeneralSans-Regular';
}

html {
  width: 100dvw;
  height: 100dvh;
  @apply
  bg-black
  fixed
  flex
  justify-center
  items-center;

}

.bodyView {
  height: 100dvh;
  background-color: whitesmoke;
  max-width: 470px;
  @apply
  overflow-hidden
  relative
  top-0
  rounded-lg
  left-0;
}

@media  (min-width: 1320px) {
  .bodyView {
      max-width: 30vw;
  }
}

h1 {
  font-size: clamp(50px, 14vw, 70px);
  line-height: clamp(50px, 14vw, 70px);
  letter-spacing: .01vw;;
  font-family: 'GeneralSans-Bold';
  @apply
  bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-violet-400 via-rose-100 to-zinc-800 bg-clip-text text-transparent
}

h2 {
  font-size: clamp(20px, 6vw, 30px);
  line-height: clamp(20px, 6.5vw, 30px);
  letter-spacing: -.06vw;
  font-family: 'GeneralSans-Semibold';
}

h3 {
  font-size: clamp(20px, 6vw, 30px);
  line-height: clamp(20px, 6.5vw, 30px);
  letter-spacing: -.06vw;
  font-family: 'GeneralSans-Semibold';
}

.tasks-container {
  height: 60dvh;
  @apply
  relative
  w-full
  bottom-0
  overflow-hidden
  overflow-y-scroll
  pb-20;
}

.task {
  @apply
  cursor-pointer
  bg-white
  m-2
  mb-4
  p-4
  pt-6
  rounded-md
  shadow-md
  border
  border-solid
  border-indigo-50
  shadow-indigo-100;
}
.task .header-task {
  @apply
  mb-0;
}

.task .date-time {
  @apply
  flex
  gap-2;
}

.task .header-task {
  @apply
  items-start;
}
.task .header-task h2 {
  @apply
  mb-2;
}

.task .date-time {
  @apply
  text-gray-400
  mb-2;
}

.task .categories {
  @apply
  flex 
  flex-wrap;
}
.priority {
  font-size: clamp(10px, 3vw, 15px);
  line-height: clamp(10px, 3vw, 15px);
  @apply
  flex
  justify-center
  items-center
  py-1
  px-3
  bg-gray-100
  rounded-full;
}

.priority.baja {
  @apply
  bg-green-200
  text-green-800;
}

.priority.media {
  @apply
  bg-orange-200
  text-orange-800;
}

.priority.alta {
  @apply
  bg-red-200
  text-red-500;
}

button {
  font-family: 'GeneralSans-Semibold';
  font-size: clamp(20px, 6vw, 30px);
  line-height: clamp(20px, 6.5vw, 30px);
  letter-spacing: -.06vw;
  @apply
  cursor-pointer
  py-3
  px-5
  bg-black
  text-white
  rounded-full;
}

.button--primary {
  @apply
  w-full
  bg-purple-500;
}
.button--secondary {
  font-family: 'GeneralSans-Regular';
  font-size: clamp(12px, 4vw, 20px);
  line-height: clamp(12px, 4vw, 20px);
  @apply
  py-2
  px-5;
}

button.delete {
  @apply
  bg-red-100
  text-red-600;
}

button.edit {
  @apply
  bg-blue-100
  text-blue-600;
}